@import '../../assets/styles/Animations';

.Cart {
   display: flex;
   flex-direction: column;
   flex: 1;
   padding: 0 $margin;
   &__products {
      flex: 1;
   }
   &__checkout {
      &__row {
         display: flex;
         > div {
            flex: 1;
         }
      }
      &__actions {
         display: flex;
         justify-content: center;
         button:first-child {
            margin-right: $margin;
         }
      }
   }
   &__total {
      p {
         text-align: right;
      }
   }
   &__no-records {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg {
         display: block;
         font-size: xxx-large;
         @include animation('move 3s ease infinite');
      }
   }
   button {
      align-self: center;
   }
}