@import '../../../assets/styles/Variables';
@import '../../../assets/styles/Animations';

.common-btn {
  font-family: inherit;
  min-width: 150px;
  padding: $margin;
  font-weight: 600;
  color: $dominant-text;
  font-weight: bold;
  cursor: pointer;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  text-transform: capitalize;

  &:disabled {
    opacity: .6;
  }

  &:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
  }

  &__icon {
    height: 1em;
    width: 2em;
    margin-right: $margin;
  }

  &__processing {
    display: inline-block;
    margin-left: $padding;
    svg {
      @include animation('spin 3s linear infinite');
    }
  }

  &--success {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }

  &--info {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }

  &--warning {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  }

  &--danger {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
  }
}