@import '../../../assets/styles/Variables';

.EditingСard {
   display: inline-block;
   margin: 0 5% 5% 0;
   padding: 5%;
   border: $border;
   border-radius: $border-radius;
   max-width: 45%;
   box-sizing: border-box;
   min-width: 250px;
   &__img {
      width: 100%;
      max-width: 300px;
   }
   &__form {
      &__gallery {
         margin: $margin 0;
         display: flex;
         &__item {
            position: relative;
            margin-right: $margin;
            padding: $padding;
            i {
               cursor: pointer;
               position: absolute;
               top: 0;
               right: -5px;
            }
         }
      }
   }
}