
@import '../assets/styles/Variables';
@import '../assets/styles/Animations';

.wrapper,
.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  text-align: center;
  background-color: $secondary-color;
  color: $secondary-text;
  min-height: 100vh;
  transition: .3s;
  &--navbar-opened {
    transform: translate(250px, 0);
  }
  .container {
    flex: 1;
    width: 900px;
    margin: 0 auto;
    color: inherit;
    > div {
      flex: 1;
    }
  }

  @media only screen and (max-width: 900px) {
    .container {
      width: 100%;
    }
  }
}
