@import "../../../assets/styles/Variables";
@import "../../../assets/styles/Animations";

.ReactModal__Content {
   @media (prefers-color-scheme: dark) {
      background: $secondary-color !important;
      color: $secondary-text;
      border: 1px solid $disabled-text !important;
   }

   @media (prefers-color-scheme: light) {
      background: $primary-color !important;
      color: $primary-text;
   }

   @include animation('jumpOut 1s');

   &__header {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid $decoration;
      padding: $padding;
      align-items: center;
      color: inherit;
      h2 {
         margin: 0;
         flex: 1;
         text-transform: capitalize;
         text-align: center;
      }
      svg {
         padding: $padding;
         cursor: pointer;
         transition: all 0.3s;
      }
   }
   &__content {
      display: flex;
      flex-direction: column;
      padding: $padding;
      padding-top: $padding*2;
      flex: 1;
      overflow: scroll;
   }
}
