@import '../../../assets/styles/Variables';

.Modal {
   // .fullscreen {
   //    width: 100% !important;
   //    height: 100% !important;
   // }
   &__header {
      margin: 0;
      padding: $gap 0;
      text-align: center;
   }
   &__content {
      padding: $gap $padding;
   }
}