@import '../../../assets/styles/Variables';

.Modal {
   > div {
      display: flex;
      flex-direction: column;
   }
   .fullscreen {
      width: 100% !important;
      height: 100% !important;
   }
   &__header {
      margin: 0;
      padding: $gap 0;
      text-align: center;
   }
   &__content {
      display: flex;
      flex-direction: column;;
      padding: $gap $padding;
      flex: 1;
   }
}