@import '../../../assets/styles/Variables';

.ProductCardContent {
   display: flex;
   flex: 1;
   &__preview {
      flex-basis: 50%;
      display: flex;
      margin-right: $margin;
      justify-content: center;
      align-items: center;
      img {
         width: 100%;
      }
      svg {
         font-size: large;
      }
   }

   header {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      &__description {
         flex: 1;
      }
   }
}