@import '../../../assets/styles/Variables';
@import '../../../assets/styles/Responsive';

.multiple-checkbox-input {
  &__inputs {
    display: flex;
    margin-left: -$padding;

    .common-input {
      padding: 0 $padding;
    }

    &--vertical {
      flex-direction: column;
    }
  }
}