@import '../../../assets/styles/Variables';

.image-input {
  display: flex;
  align-items: center;
  justify-content: center;

  &__preview {
    $img-size: 50px;
    margin-right: $padding;
    img {
      width: $img-size;
      height: $img-size;
      border-radius: 50%;
      object-fit: cover;
    }
  }

}