@import "../../../assets/styles/Variables";
@import "../../../assets/styles/Mixins";

.AppHeader {
   $self: &;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: $margin;
   box-sizing: border-box;

   &__navigation {
      $icon-size: 3em;
      display: flex;
      &__icon {
         overflow: hidden;
         position: relative;
         margin-right: $margin;
         width: $icon-size;
         height: $icon-size;
         display: flex;
         justify-content: center;
         align-items: center;
         background: $primary-color;
         border-radius: 50%;
         color: $secondary-color;
         &:after {
            @include shine-animation;
         }
         &:hover {
            transform: scale(1.05);
         }
         &--active {
            transform: scale(1.05);
         }
         img {
            border-radius: 50%;
            height: inherit;
            width: inherit;
         }
         svg {
            width: 1em;
            height: 1em;
            font-size: large;
         }
      }
   }

   &--fullsize {
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: $z-accent;
      $fullscreen-icon-size: 2em;
      #{ $self } {
         &__navigation {
            &__icon {
               width: $fullscreen-icon-size;
               height: $fullscreen-icon-size;
            }
         }
         &__social {
            cursor: pointer;
            &__link {
               cursor: pointer;
               margin: 0 $padding;
               font-size: large;
               color: $primary-text;
               transition: opacity 0.3s;
               &:hover {
                  opacity: 0.8;
               }
            }
         }
      }
   }
}
