@import '../../../assets/styles/Variables';

.PriceTag {
   span {
      display: inline-block;
      padding: $padding;
      background: rgb(225, 201, 22);
      border-radius: $border-radius;
      color: $primary-text;
   }
}