@import '../../../assets/styles/Variables';

.PriceTag {
  span {
    display: inline-block;
    padding: $padding;
    background: #ffe244;
    border-radius: $border-radius;
    color: $primary-text;
  }
  &--available {
   span {
     background: #2ecc71;
   }
 }
}
