@import '../../../assets/styles/Variables';

.PriceTag {
   span {
      display: inline-block;
      padding: $padding;
      background: #FFE244;
      border-radius: $border-radius;
      color: $primary-text;
   }
}