@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }  
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }  
  @keyframes #{$animation-name} {
      @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 3em; opacity: 1;}
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  40% { transform: scale(1.1) };
  50% { transform: scale(1) };
  70% { transform: scale(1.1) };
  80% { transform: scale(1) };
  100% { transform: scale(1); }
}

@keyframes rotating {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(50);
    opacity: 0;
  }
  80% {
    transform: scale(.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes jumpOut {
  0% {
    transform: translate(-50%, -50%) scale(.8);
    opacity: 0;
  }
  40% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
  60% {
    transform: translate(-50%, -50%) scale(.95);
  }
  80% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes rippleEffect {
  40% {
      opacity: .35;
  }
  50% {
      transform: translate3d(.5em, 0, 0) scale(1.1);
      text-shadow: 0 0 20px #fff;
  }
  75% {
      transform: translate3d(0, 0, 0) scale(1);
      text-shadow: 0 0 0 #fff;
      opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

// not found page
@keyframes glitch {
  2%,
  64% {
     transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
     transform: translate(-2px, 0) skew(0deg);
  }
  62% {
     transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {
  2%,
  64% {
     transform: translate(2px, -2px);
  }
  4%,
  60% {
     transform: translate(-2px, 2px);
  }
  62% {
     transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchBotom {
  2%,
  64% {
     transform: translate(-2px, 0);
  }
  4%,
  60% {
     transform: translate(-2px, 0);
  }
  62% {
     transform: translate(-22px, 5px) skew(21deg);
  }
}

// app header
@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
