@import "./Variables";

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }  
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }  
  @keyframes #{$animation-name} {
      @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: $gap; opacity: 1;}
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  40% { transform: scale(1.1) };
  50% { transform: scale(1) };
  70% { transform: scale(1.1) };
  80% { transform: scale(1) };
  100% { transform: scale(1); }
}

@keyframes rotating {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(50);
    opacity: 0;
  }
  80% {
    transform: scale(.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes jumpOut {
  0% {
    transform: scale(.7);
    opacity: 0;
  }
  40% {
    transform: scale(1.2);
    opacity: 1;
  }
  60% {
    transform: scale(.8);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

