// theme
// font-size
$font-size: 14px;
// theme color
$primary-color: #242423;
$secondary-color: #edf2f4;
$accent-color: #0353a4;
$disabled-color: #8d99ae;

// text colors
$primary-text: #fff;
$secondary-text: #1C2541;
$accent-text: #d8e2dc;
$disabled-text: #1C2541;

// service
$error: #96281B;
$info: #1890ff;
$succses: #8bc34a;
$warning: #FF6C00;
// decorations
$decoration: #bdbdbd;
$gradient: linear-gradient(#000, #262A38);
$border-radius: 3px;
$border: 1px solid $decoration;
$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
// breakpoint media queries
$mobile: 420px;
$tablet: 768px;
$desktop: 1224px;
// spacing
$padding: 0.5em;
$margin: 1em;
$gap: 2em;
$inline-spacing: 0.1em;
// layers
$z-accent: 2;
$z-index-modal: 999;
$z-index-notify: $z-index-modal + 1; 
