@import '../../assets/styles/Variables';

.QuotesGenerator {
   display: flex;
   flex-direction: column;
   max-width: $container;
   min-height: 100px;
   i {
      display: inline-block;
      text-align: end;
      margin-top: .5em;
   }
}