@import '../../../assets/styles/_Variables.scss';

.Routing {
  $btnSize: 3em;
  $notifySize: 15px;

  display: flex;
  justify-content: center;
  &__btn {
    position: relative;
    text-transform: capitalize;
    text-decoration: none;
    width: $btnSize;
    height: $btnSize;
    background: $primary-color;
    margin: $margin/2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    color: $secondary-color;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.36,.15,.21,1.94);
    &__notify {
      position: absolute;
      top: 0;
      right: 0;
      width: $notifySize;
      height: $notifySize;
      background: $warning;
      color: $accent-text;
      border-radius: 50%;
      font-size: small;
    }
    &--active {
      width: $btnSize * 3;
      background: $accent-color;
      color: $accent-text;
    }
  }
}