@import "../../../assets/styles/Variables";

.date-range-input {
  &__inputs {
    display: flex;

    &--vertical {
      flex-direction: column;

      .hme-input:first-child {
        margin-bottom: $margin;
      }
    }

    .hme-input {
      padding: 0;
      margin-right: $margin;
    }
  }
}
